.container-fluid {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#address-header {
  margin: 30px 0 0 10px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#map {
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

#main-column {
  height: 100%;
}

#main-column-header {
  text-align: center;
  padding: 10px;
}

.left {
  float: left;
}

#llumar {
  margin: 10px 0 0 0;
}

#energy-star {
  margin: 80px 0 0 0;
}

#carousel-example-generic {
  text-align: center;
  margin: 0 auto;
}

.slideshow-img {
  height: 75%;
  width: 75%;
  border-radius: 7px;
}

.main-column-body {
  margin: 50px 0 0 0;
}

#sidebar {
  height: 100%;
}

.thumbnails {
  margin: 20px 0 10px 0;
  width: 173px;
  height: 184px;
}

#facebook {
  padding: 20px;
  margin: 50px 0 0 47px;
}

#header-secondary {
  margin: 10px 0 20px 50px;
  font-weight: 100em;
}

.names {
  float: left;
  margin: 0 0 0 30px;
}

#footer {
  height: 150px;
  margin: 0 0 20px 0;
}

.footer-list {
  height: 50px;
  width: 50%;
  padding-top: 30px;
  margin: 0 0 0 20px;
  float: left;
}

#address-footer {
  float: right;
  margin: 0 30px 0 0;
}

.clear {
  clear: both;
}

#footer-lower-column {
  margin: 20px 0 0 0;
}

#company {
  float: left;
}

#url {
  float: right;
}

#contact-us-title {
  text-align: center;
}
